.background{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.227);
  z-index: 55;
}

.container {
  position: relative;
  width: 20rem;
  border-radius: 7px;
  background-color: var(--background);
  padding: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.234);

  h3 {
    color: var(--text);
    text-align: center;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  .button_container {
    display: flex;
    gap: 1rem;
    
    button {
      flex: 1;
      padding: 1rem;
      border-radius: 7px;
      font-size: 1rem;
      font-weight: 500;
      color: var(--white);

      &:first-child {
        background-color: var(--warning);
      }
      &:last-child {
        background-color: var(--secondary);
      }
    }
  }
}