.container {
  display: flex;
  gap: 3rem;
  margin: 2rem 0;
  height: calc(100vh - 9rem);

  .details_container{
    flex: 0.55;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top{
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
    }

    .product_name{
      font-weight: 500;
      font-size: 1.5rem;
    }
  }
}