.container {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
  height: calc(100vh - 9rem);

  .details_container{
    flex: 0.55;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top{
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
    }

    .product_name{
      font-weight: 500;
      font-size: 1.5rem;
    }

    .add_to_cart{
      position: relative;
      width: 100%;
      margin-top: 0.5rem;
      border-radius: 7px;
      background-color: var(--secondary);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.15rem;
      color: var(--white);
      font-size: 1.3rem;
      font-weight: 500;

      &:active{
        transform: scale(0.95);
      }

      .add_to_cart_icon{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 1rem;
      }
    }
  }
}