* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary: #6E0AD6;
  --secondary: #8FE281;
  --background: #ffffff;
  --white: #ffffff;
  --text: #494949;
  --text-soft: #6E6E6E;
  --border: #E0E0E0;
}

a{
  text-decoration: none;
}