.container {
  main{
    .title {
      font-weight: 500;
      margin-bottom: 1.5rem;
      font-size: 1.4rem;
      border-bottom: 1px solid var(--secondary);
      width: fit-content;
    }

    width: 100%;
    padding: 1rem 2rem;
    min-height: calc(100vh - 4rem);
    margin-top: 4rem;

    .content_wrapper {
      display: grid;
      gap: 1rem;
      grid-template-columns: 20rem auto 20rem;
      grid-area: auto;
      
    }
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    h4 {
      width: fit-content;
      font-size: 1.25rem;
      font-weight: 400;
      border-bottom: 1px solid var(--secondary);
    }
  }
}

.hover{
  display: none;
  position: absolute;
  z-index: 10;
  inset: 0; 
  background-color: rgba(0, 0, 0, 0.267);
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.image_container {
  .thumb {
    position: relative;
    width: 100%;
    height: 20rem;
    border-radius: 7px;
    background-color: var(--background);
    border: 2px solid var(--primary);
    overflow: hidden;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      .hover {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        
        span {
          margin-top: 1rem;
          text-align: center;
          color: var(--white);
          font-size: 0.9rem;
        }
      }
    }

    .main_image_span {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      background-color: var(--primary);
      color: var(--white);
      padding: 0 1rem;
      border-radius: 0 0 1rem 0;
    }
  }

  .image_list{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    .image {
      position: relative;
      flex: 1;
      position: relative;
      min-width: calc(33.3% - 0.5rem);
      min-height: calc(33.3% - 0.5rem);
      padding-bottom: calc(33.3% - 0.5rem);
      border-radius: 7px;
      overflow: hidden;
      border: 2px solid var(--primary);

      .delete_img{
        position: absolute;
        z-index: 10;
        top: 0;
        border-radius: 0 5px 0 1rem;
        right: 0;
        width: 2rem;
        height: 2rem;
        background-color: var(--warning);
        opacity: 0.7;
      }
    }

    .add_image {
      position: relative;
      flex: 1;
      min-width: calc(33.3% - 0.33rem);
      height: 0;
      padding-bottom: calc(33.3% - 0.5rem);
      display: flex;
      justify-content: center;
      align-items: center;
      border:  2px dashed var(--primary);
      border-radius: 7px;
      background-color: var(--background);
      font-size: 0;
      transition: 0.3s;
      cursor: pointer;

      svg {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }

      &:hover {
        filter: brightness(0.9);
      }
    }
  }

  input {
    display: none;
  }
}

.inputs_container {
  .stock_price_discount {
    display: flex;
    gap: 0.8rem;
  }
}
.tags_container {  
  form {
    display: flex;
    gap: 0.2rem;

    button {
      width: 4rem;
      height: 100%;
      background-color: var(--secondary);
      border-radius: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .tag_list{
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    position: relative;
    border-radius: 7px;
    border: 2px solid var(--border);
    height: fit-content;
    min-height: 4rem;
    padding: 1rem;
    user-select: none;

    span {
      z-index: 3;
      position: absolute;
      transform: translateY(-50%);
      top: 0rem;
      left: 0.7rem; 
      transition: 0.2s ease;
      pointer-events: none;
      padding: 0 0.3rem;
      font-weight: 500;
      font-size: 1rem;
      background-color: var(--white);
      color: var(--text-soft);
      border-radius: 7px;
    }

    .tag_item{
      border-radius: 1rem;
      background-color: var(--primary-soft);
      color: var(--white);
      height: fit-content;
      width: fit-content;
      padding: 0.2rem 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.2rem;
      opacity: 0.7;

      button {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 0.75rem;
        font-weight: 500;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary);
        color: var(--white);
        opacity: 1;
        transform: translateX(0.5rem);
      }
    }
  }
}