.container{
  min-width: calc(33.3% - 0.66rem);
  max-width: 24rem;
  border-radius: 7px;
  background-color: var(--background);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.186);
  transition: 0.2s ease;
  overflow: hidden;
  
  &:hover{
    transform: scale(1.05);
  }

  .imageContainer{
    position: relative;
    flex: 0.6;
    min-height: 15rem;
    z-index: 5;
    cursor: pointer;

    .discount{
      z-index: 10;
      position: absolute;
      right: 1rem;
      top: 1rem;
      padding: 0.5rem;
      border-radius: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--secondary);

      span {
        color: var(--white);
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }

  .detailsContainer{
    position: relative;
    flex: 0.4;
    padding: 1rem;

    .productName{
      display: -webkit-box;
      -webkit-line-clamp: 2;  // <- you can change rows number
      -webkit-box-orient: vertical;
      font-weight: 500;
      font-size: 1rem;
      word-wrap: break-word;
      text-overflow: ellipsis;
      overflow: hidden;

      &:hover{
        text-decoration: underline;
      }
    }

    .priceContainer{
      display: flex;
      flex-direction: column;
      margin-left: auto;
      align-items: flex-end;

      .oldPrice {
        text-decoration: line-through;
        color: var(--text-soft);
        font-size: 0.9rem;
        font-weight: 500;
      }
      .currentPrice {
        font-weight: 500;
        font-size: 1.5rem;
        color: var(--text);
      }
    }

    .edit{
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      color: var(--primary);
      font-weight: 500;
      font-size: 1rem;
      background-color: transparent;
    }
  }
}