.container{
  width: 18rem;
  border-radius: 7px;
  background-color: var(--background);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.186);
  transition: 0.2s ease;
  overflow: hidden;
  
  &:hover{
    transform: scale(1.05);
  }

  .imageContainer{
    position: relative;
    flex: 0.6;
    min-height: 15rem;

    .discount{
      position: absolute;
      right: 1rem;
      top: 1rem;
      padding: 0.5rem;
      border-radius: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--secondary);

      span {
        color: var(--white);
        font-size: 0.7rem;
      }
    }
  }

  .detailsContainer{
    flex: 0.4;
    padding: 1rem;

    span:first-child{
      font-weight: 500;
      font-size: 1rem;

      &:hover{
        text-decoration: underline;
      }
    }

    .priceContainer{
      display: flex;
      flex-direction: column;
      margin-left: auto;
      align-items: flex-end;

      .oldPrice {
        text-decoration: line-through;
        color: var(--text-soft);
        font-size: 0.9rem;
        font-weight: 500;
      }
      .currentPrice {
        font-weight: 500;
        font-size: 1.5rem;
        color: var(--text);
      }
    }
  }
}