.cart_container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 50;
  width: 20rem;
  max-height: 15rem;
  display: flex;
  gap: 0.3rem;
  flex-direction: column;

  .list {
    border-radius: 7px;
    background-color: var(--background);
    border: 2px solid var(--primary);
    opacity: 0.8;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.178);
    overflow-y: scroll;
    height: fit-content;
  }

  .cart_item_popup{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border);
    overflow: hidden;

    .image_container {
      position: relative;
      min-width: 5rem;
      min-height: 5rem;
      background-color: var(--border);
    }

    .content{
      padding: 0.5rem;

      .product_name {
        display: -webkit-box;
        -webkit-line-clamp: 2;  // <- you can change rows number
        -webkit-box-orient: vertical;
        font-weight: 500;
        font-size: 1rem;
        word-wrap: break-word;
        text-overflow: ellipsis;
        overflow: hidden;
        transform: translateY(0.5rem);

        &:hover{
          text-decoration: underline;
        }
      }
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      border-radius: 7px;
      border: 2px solid var(--warning);
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover{
        background-color: var(--warning);
        svg {
          fill: var(--white)
        }
      }
    }
  }

  button:first-child {
    right: 0;
    color: vaR(--white);
    border-radius: 3px;
    background-color: var(--primary);
    opacity: 0.8;
    font-weight: 500;
    padding: 0.3rem;
    font-size: 1rem;
  }
}